/* nav */
.primary-color{
    background-color: #102C57 !important; 
}
.secondary-color{
    background-color: #1679AB;
}
.primary-sub-color{
    background-color: #FFB1B1;
}
.secondary-sub-color{
    background-color: #FFCBCB;
}
/*body */
body{
     background-color: #FFCBCB;
}